{% extends 'base.html' %}
{% load static %}
{% block main-content %}
    <div class="application-wrapper row">
        <div class="application col-lg-9 col-md-7">
            <div class="left-section">
                <div class="menubar">
                    <div class="user-profile-image">
                        <img src="\media\profile_images\default_profile.jpg" alt="user-profile"
                             class="user-image" id="{{ user.username }}">
                    </div>
                    <div class="other-option">
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="notification-bar">
                </div>
                <div class="search-bar">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control" id="searchProfilesInput"
                               placeholder="Search" name="q">
                    </div>
                </div>
                <div class="contact-section">
                    {% for contact in contacts %}
                        {% if user.username == contact.friend.username %}
                            <div class="contact" id="conversion-{{ contact.user.username }}">
                        {% else %}
                            <div class="contact" id="conversion-{{ contact.friend.username }}">
                        {% endif %}
                    <div class="user-profile-image">
                        <img src="\media\profile_images\default_profile.jpg" alt="user-profile">
                    </div>
                    <div class="right-information">
                        <div class="upper-information">
                            <div class="username">
                                {% if user.username == contact.friend.username %}
                                    <p class="contact-username">{{ contact.user.username }}</p>
                                {% else %}
                                    <p class="contact-username">{{ contact.friend.username }}</p>
                                {% endif %}
                            </div>

                            <div class="last-message-time">
                                {% if contact.messages.first.timestamp.date == now.date %}
                                    <p>{{ contact.messages.first.timestamp|time }}</p>
                                {% else %}
                                    <p>{{ contact.messages.first.timestamp|date }}</p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="last-message">
                            {% if user.username == contact.friend.username %}
                                <p id="information-{{ contact.user.username }}"
                                >{{ contact.messages.first.content }}</p>
                            {% else %}
                                <p id="information-{{ contact.friend.username }}"
                                >{{ contact.messages.first.content }}</p>
                            {% endif %}
                        </div>
                    </div>
                    </div>
                    {% endfor %}

                    <div class="contact">
                        <div class="user-profile-image">
                            <img src="\media\profile_images\default_profile.jpg" alt="user-profile">
                        </div>
                        <div class="right-information">
                            <div class="upper-information">
                                <div class="username">
                                    <p>Username</p>
                                </div>
                                <div class="last-message-time">
                                    <p>yesterday</p>
                                </div>
                            </div>

                            <div class="last-message">
                                <p>This is last message</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact">
                        <div class="user-profile-image">
                            <img src="\media\profile_images\default_profile.jpg" alt="user-profile">
                        </div>
                        <div class="right-information">
                            <div class="upper-information">
                                <div class="username">
                                    <p>Username</p>
                                </div>
                                <div class="last-message-time">
                                    <p>yesterday</p>
                                </div>
                            </div>

                            <div class="last-message">
                                <p>This is last message</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact">
                        <div class="user-profile-image">
                            <img src="\media\profile_images\default_profile.jpg" alt="user-profile">
                        </div>
                        <div class="right-information">
                            <div class="upper-information">
                                <div class="username">
                                    <p>Username</p>
                                </div>
                                <div class="last-message-time">
                                    <p>yesterday</p>
                                </div>
                            </div>

                            <div class="last-message">
                                <p>This is last message</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact">
                        <div class="user-profile-image">
                            <img src="\media\profile_images\default_profile.jpg" alt="user-profile">
                        </div>
                        <div class="right-information">
                            <div class="upper-information">
                                <div class="username">
                                    <p>Username</p>
                                </div>
                                <div class="last-message-time">
                                    <p>yesterday</p>
                                </div>
                            </div>

                            <div class="last-message">
                                <p>This is last message</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact">
                        <div class="user-profile-image">
                            <img src="\media\profile_images\default_profile.jpg" alt="user-profile">
                        </div>
                        <div class="right-information">
                            <div class="upper-information">
                                <div class="username">
                                    <p>Username</p>
                                </div>
                                <div class="last-message-time">
                                    <p>yesterday</p>
                                </div>
                            </div>

                            <div class="last-message">
                                <p>This is last message</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact">
                        <div class="user-profile-image">
                            <img src="\media\profile_images\default_profile.jpg" alt="user-profile">
                        </div>
                        <div class="right-information">
                            <div class="upper-information">
                                <div class="username">
                                    <p>Username</p>
                                </div>
                                <div class="last-message-time">
                                    <p>yesterday</p>
                                </div>
                            </div>

                            <div class="last-message">
                                <p>This is last message</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact">
                        <div class="user-profile-image">
                            <img src="\media\profile_images\default_profile.jpg" alt="user-profile">
                        </div>
                        <div class="right-information">
                            <div class="upper-information">
                                <div class="username">
                                    <p>Username</p>
                                </div>
                                <div class="last-message-time">
                                    <p>yesterday</p>
                                </div>
                            </div>

                            <div class="last-message">
                                <p>This is last message</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact">
                        <div class="user-profile-image">
                            <img src="\media\profile_images\default_profile.jpg" alt="user-profile">
                        </div>
                        <div class="right-information">
                            <div class="upper-information">
                                <div class="username">
                                    <p>Username</p>
                                </div>
                                <div class="last-message-time">
                                    <p>yesterday</p>
                                </div>
                            </div>

                            <div class="last-message">
                                <p>This is last message</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact">
                        <div class="user-profile-image">
                            <img src="\media\profile_images\default_profile.jpg" alt="user-profile">
                        </div>
                        <div class="right-information">
                            <div class="upper-information">
                                <div class="username">
                                    <p>Username</p>
                                </div>
                                <div class="last-message-time">
                                    <p>yesterday</p>
                                </div>
                            </div>

                            <div class="last-message">
                                <p>This is last message</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact">
                        <div class="user-profile-image">
                            <img src="\media\profile_images\default_profile.jpg" alt="user-profile">
                        </div>
                        <div class="right-information">
                            <div class="upper-information">
                                <div class="username">
                                    <p>Username</p>
                                </div>
                                <div class="last-message-time">
                                    <p>yesterday</p>
                                </div>
                            </div>

                            <div class="last-message">
                                <p>This is last message</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact">
                        <div class="user-profile-image">
                            <img src="\media\profile_images\default_profile.jpg" alt="user-profile">
                        </div>
                        <div class="right-information">
                            <div class="upper-information">
                                <div class="username">
                                    <p>Username</p>
                                </div>
                                <div class="last-message-time">
                                    <p>yesterday</p>
                                </div>
                            </div>

                            <div class="last-message">
                                <p>This is last message</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact">
                        <div class="user-profile-image">
                            <img src="\media\profile_images\default_profile.jpg" alt="user-profile">
                        </div>
                        <div class="right-information">
                            <div class="upper-information">
                                <div class="username">
                                    <p>Username</p>
                                </div>
                                <div class="last-message-time">
                                    <p>yesterday</p>
                                </div>
                            </div>

                            <div class="last-message">
                                <p>This is last message</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact">
                        <div class="user-profile-image">
                            <img src="\media\profile_images\default_profile.jpg" alt="user-profile">
                        </div>
                        <div class="right-information">
                            <div class="upper-information">
                                <div class="username">
                                    <p>Username</p>
                                </div>
                                <div class="last-message-time">
                                    <p>yesterday</p>
                                </div>
                            </div>

                            <div class="last-message">
                                <p>This is last message</p>
                            </div>
                        </div>
                    </div>
                    </div>

                </div>
                <div class="right-section">
                    <div class="info-bar-section">

                    </div>
                    <div class="chatting-section">
                        <div class="initial-screen">
                            <i class="far fa-comments"></i>
                        </div>
                        <div class="chatting-wrapper ">
                            <div class="menubar chat-menubar">
                                <div class="user-profile-image">
                                    <div class="user-image">
                                        <img src="\media\profile_images\default_profile.jpg" alt="user-profile">

                                    </div>
                                    <div class="username-status-wrapper">
                                        <div class="username">
                                            <p id="chatMenuBarUsername">Username</p>
                                        </div>
                                        <div class="status">
                                            <p id="user-status"></p>
                                        </div>
                                    </div>

                                </div>
                                <div class="other-option">
                                    <i class="fas fa-ellipsis-v"></i>
                                </div>
                            </div>
                            <div class="chatting-area-wrapper">
                                <div class="chatting-area infinite-container" id="chattingArea">

                                </div>
                            </div>
                            <div class="chatting-bar">
                                <form id="messageInputForm">
                                    <div class="reply-section-wrapper" id="replySectionWrapper">
                                        <div class="reply-message-section" id="replyMessageSection">
                                            <div class="reply-section">
                                                <p id="replyMessageContent">fine nad what about you</p>
                                            </div>
                                            <div class="close-icon-section">
                                                <i class="fas fa-times" id="closeReplyButton"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-2 message-input-wrapper">
                                        <input type="text" class="form-control" id="messageInput"
                                               placeholder="Type your message" name="message">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'js/reconnecting-websocket.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>

        {#        <script src="{% static 'js/infinite.min.js' %}"></script>#}
        {#        <script src="{% static 'js/waypoints.js' %}"></script>#}
{% endblock %}